<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PRHomeModule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F57C3DB71E51A8F500A8480C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57C3DD01E51A8F500A8480C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F57C3DDB1E51A8F500A8480C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
